{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_detail.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if project_detail.tasks.all|length == 0 %}
                <tr>
                    <p>This project has no tasks</p>
                </tr>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in project_detail.tasks.all %}
                            <tr>
                                <td>{{ detail.name }}</td>
                                <td>{{ detail.assignee }}</td>
                                <td>{{ detail.start_date }}</td>
                                <td>{{ detail.due_date }}</td>
                                <td>{{ detail.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
