{% extends 'base.html' %}

{% block content %}
<h1>Weather Data:</h1>
    <p>Latitude: <span id="latitude"></span></p>
    <p>Longitude: <span id="longitude"></span></p>
    <p>Time: <span id="time"></span></p>
    <p>Temperature: <span id="temperature"></span>°F</p>
    <p>windspeed: <span id="windspeed"></span></p>
    <p>Weathercode: <span id="weathercode"></span></p>


    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }

        function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            document.getElementById('latitude').innerText = latitude;
            document.getElementById('longitude').innerText = longitude;

            // Make API request using latitude and longitude
            const apiKey = 'YOUR_OPEN_METEO_API_KEY';
            const endpoint = `https://api.open-meteo.com/v1/forecast?latitude=45&longitude=420&current_weather=true&temperature_unit=fahrenheit&windspeed_unit=ms&precipitation_unit=inch&timezone=America%2FLos_Angeles`;
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').innerText = data.current_weather.temperature;
                    document.getElementById('windspeed').innerText = data.current_weather.windspeed;
                    document.getElementById('time').innerText = data.current_weather.time;
                    document.getElementById('weathercode').innerText = data.current_weather.weathercode;
                    // Process other weather attributes as needed
                })
                .catch(error => {
                    console.log('An error occurred:', error);
                });
        }

        getLocation();
    </script>
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <div>
                <a href="{% url "create_project" %}">Create a project</a>
            </div>
            {% if project_list.all|length == 0 %}
                <tr>
                    <p>You are not assigned to any projects</p>
                </tr>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for project in project_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </main>
{% endblock content %}
